
$app-primary: #0277bd;
$app-primary-light: #58a5f0;
$app-primary-dark: #004c8c;

$app-secondary: #d32f2f;
$app-secondary-light: #ff6659;
$app-secondary-dark: #9a0007;

$app-text-primary-light: #000;
$app-text-primary-dark: #fff;

$app-text-secondary-light: #000;
$app-text-secondary-dark: #fff;