<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Northwind</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="Employees" Match="NavLinkMatch.All">
                <span class="oi oi-people"></span> Employees
            </NavLink>

            <hr/>

            <AuthorizeView>
                <Authorized>
                    <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
                    <form method="post" action="Identity/Account/LogOut">
                        <button type="submit" class="nav-link btn btn-link">Log out</button>
                    </form>
                </Authorized>
                <NotAuthorized>
                    @*<a href="Identity/Account/Register">Register</a>*@
                    <NavLink class="nav-link" href="Identity/Account/Login" Match="NavLinkMatch.All">
                        <span class="oi oi-account-login"></span> Log in
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>


        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
